/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.centratura {
    width: 75%;
    margin: 5% auto;
    /* debugging */
    background-color: darkgreen;
    height: fit-content;
}

.tutta-pagina {
    width: 100%;
    /* debugging */
    background-color: rgb(43, 109, 43);
    height: 300px;
}

.btn-blu {
    background-color: #0061ff;
    color: white;
}

.title {
    /* debugging */
    height: 70px;
    background-color: crimson;
}

.title h2 {
    font-size: 4em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* debugging */
    background-color: blueviolet;
}

/* header nav */
header nav {
    width: 50%;
    /* margin: 0 1%; */
    /* debugging */
    background-color: brown;
    height: 100px;
}

header nav img {
    float: left;
    padding: 2%;
}

header nav ul li {
    display: inline-block;
    padding: 2.5% 2% 2% 0;
}

header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.6em;
}

#left {
    float:left;
}

#right {
    float: right;
    text-align: right;
}

#inizia {
    padding: 1% 50%;
    margin-right: 2%;
}

/* banner */
#banner {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 10%;
    background-color: #b4d0e7;
    height: fit-content;
}

h1 {
    font-size: 7em;
    font-weight: 700;
    padding: 3% 0;
}

/* colonna sx banner */
.col-left {
    float: left;
    width: 35%;
    font-size: 1.5em;
    line-height: 1.6;
}

#prova-gratuita {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 1% 2%;
    margin: 5% 0 1% 0;
}

.freccia-banner {
    font-size: 2em;
    margin-top: 5%;
}

/* banner col dx */
.col-right {
    float: right;
    width: 65%;
    height: 370px;
}

.col-right img {
    width: 100%;
}

/* piani dropbox business */
.title span {
    font-size: 1.5em;
    margin-right: 1%;
}

.title span::before {
    content: "\026AC";
    font-size: 1.5em;
    color: #dddde0;
    padding-right: 0.5%;
}

.col {
    float: left;
    /* debugging */
    background-color: darkorange;
    height: 500px;
}

.piani {
    width: 30%;
    margin: 2% 1.6%;
}

.no-float {
    width: 100%;
    margin: 0;
    /* debugging */
    background-color: darkorange;
    height: 100px;
}

/* partner dropbox */
.partner {
    width: 40%;
    margin: 2% 5%;
}

/* footer */
footer {
    width: 100%;
    background-color: black;
    /* debugging */
    height: fit-content;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* debugging */
    background-color: white;
    height: fit-content;
}

.info {
    float: left;
    width: 18%;
    margin: 1%;
    /* debugging */
    background-color: darkgrey;
    height: 200px;
}

.logo {
    width: 20%;
    /* debugging */
    background-color: darkgrey;
    height: 50px;    
}