/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.centratura {
    width: 75%;
    margin: 5% auto;
    /* debugging */
    background-color: darkgreen;
    height: fit-content;
}

.btn-blu {
    background-color: #0061ff;
    color: white;
}

.title {
    /* debugging */
    height: fit-content;
    background-color: white;
}

.title h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* debugging */
    background-color: blueviolet;
}

/* header nav */
header nav {
    width: 50%;
    /* margin: 0 1%; */
    /* debugging */
    background-color: brown;
    height: 100px;
}

header nav img {
    float: left;
    padding: 2%;
}

header nav ul li {
    display: inline-block;
    padding: 2.5% 2% 2% 0;
}

header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 1.6em;
}

#left {
    float:left;
}

#right {
    float: right;
    text-align: right;
}

#inizia {
    padding: 1% 50%;
    margin-right: 2%;
}

/* banner */
#banner {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 10%;
    background-color: #b4d0e7;
    height: fit-content;
}

h1 {
    font-size: 7em;
    font-weight: 700;
    padding: 3% 0;
}

/* colonna sx banner */
.col-left {
    float: left;
    width: 35%;
    font-size: 1.5em;
    line-height: 1.6;
}

#prova-gratuita {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 1% 2%;
    margin: 5% 0 1% 0;
}

.freccia-banner {
    font-size: 2em;
    margin-top: 5%;
}

/* banner col dx */
.col-right {
    float: right;
    width: 65%;
    height: 370px;
}

.col-right img {
    width: 100%;
}

/* piani dropbox business */
.fatturazione {
    padding: 5% 0 2% 0;
}

.title span {
    font-size: 1.5em;
    margin-right: 1%;
}

.title span::before {
    content: "\026AC";
    font-size: 1.5em;
    color: #dddde0;
    padding-right: 0.5%;
}

.col {
    float: left;
    /* debugging */
    background-color: white;
    height: fit-content;
}

.piani {
    width: calc(90% / 3);
    border: 1px solid #dddde0;
    margin: 2% 0;
}

.col-center {
    margin: 2% 5%;
}

.utente-piano {
    border-bottom: 1px solid #dddde0;
    font-size: 1.5em;
    text-align: center;
    padding: 2% 0;
}

.icon {
    margin-right: 1%;
}

.dettagli-piano {
    padding: 0 5%;
}

.piani h3 {
    padding: 5% 0 3% 0;
}

.piani span {
    display: block;
    font-size: 1.5em;
}

.prezzo {
    font-weight: bold;
    padding: 2% 0;
}

.condizioni {
    color: #dddde0;
}

.highlite {
    padding: 10% 0;
}

.highlite li {
    font-size: 1.5em;
    list-style-type: none;
    padding-bottom: 7%;
}

.btn-30-gg {
    text-align: center;
    padding: 2%;
}

.acquista-ora {
    padding: 8% 0;
}

.acquista-ora a {
    font-weight: bold;
}

hr {
    width: 15%;
}

.piani h4 {
    padding: 8% 0 4% 0;
}

.dettagli {
    padding-bottom: 2%;
}

.dettagli li {
    list-style-type: none;
    padding-bottom: 5%;
    font-size: 1.5em;
}

.blu {
    color: #0061ff;
}

.no-float {
    width: 100%;
    margin: 2% 0;
    border: 1px solid #dddde0;
    /* debugging */
    background-color: white;
    height: fit-content;
}

.utente-team {
    border-bottom: 1px solid #dddde0;
    font-size: 1.5em;
    padding: 1% 0;
    text-align: center;
}

.corpo-utente-team {
    padding: 2%;
}

.corpo-utente-team h3 {
    float: left;
    font-size: 2em;
}

.ufficio-vendite {
    float: right;
    text-decoration: none;
    padding: 0.5% 5%;
    font-size: 1.5em;
}

.corpo-utente-team h4 {
    font-size: 1.6em;
    padding: 1% 0;
}

.soluzioni {
    font-size: 1.5em;
}

/* partner dropbox */
.partner {
    width: 60%;
    /* margin: 2% 5%; */
}

.partner img {
    width: 100%;
}

#text-col {
    width: 40%;
    float: right;
    padding: 10% 0 10% 5%;
}

#text-col p {
    font-size: 1.5em;
    padding: 5% 0;
    line-height: 1.6;
}

#text-col a {
    font-size: 1.5em;
    display: block;
    padding: 2% 5%;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    width: fit-content;
}

/* operazioni dropbox business */
.feature {
    border: none;
}

.feature img {
    width: 100%;
}

.feature p {
    font-size: 1.5em;
    padding: 5% 0;
    line-height: 1.6;
}

.feature p a {
    color: black;
}

/* team utilizzano dropbox business */
.title a {
    display: block;
    color: #0061ff;
    font-size: 1.5em;
    padding: 2% 0;
    font-weight: bold;
}

/* banner team che utilizzano dropbox business */
.side, .center {
    float: left;
    height: 450px;
}

.center {
    width: 40%;
    background-color: #f5f5f5;
}

.side {
    width: 30%;
}

.row {
    float: left;
    width: 50%;
    height: 500px;
}

.square {
    width: 100%;
    height: 45%;
}

.square img {
    width: 75%;
    margin: 12.5%;
}

.container-team {
    width: 90%;
    margin: 0 auto;
}

.center img {
    width: 25%;
}

.center p {
    font-size: 1.5em;
    padding: 5% 0;
    line-height: 1.6;
}

#designit {
    background-color: #a2d39b;
    border: 10px solid #d0e9cd;
}

#uf-florida {
    background-color: #0093ce;
}

#uf-florida img {
    margin-top: 40%;
    margin-bottom: 0;
}

#asu {
    background-color: #61082b;
}

#topps {
    background-color: #ff1c1c;
}

#wbr {
    background-color: #d5001f;
}

#lonely-planet {
    background-color: #0d2481;
}

#hearst {
    background-color: #b4d0e7;
}

#cco {
    background-color: #ffd830;
}

/* prova gratuita dropbox business */
.tutta-pagina {
    width: 100%;
    padding: 5% 0;
    background-color: #b4d0e7;
}

.text {
    float: left;
    width: 50%;
}

.button {
    float: right;
    width: 23%;
}

.button a {
    display: block;
    background-color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 2% 15%;
    color: black;
}

#text-bordeaux {
    color: #61082b;
}

/* footer */
footer {
    width: 100%;
    background-color: black;
    /* debugging */
    height: fit-content;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* debugging */
    background-color: white;
    height: fit-content;
}

.info {
    float: left;
    width: 18%;
    margin: 1%;
    /* debugging */
    background-color: darkgrey;
    height: 200px;
}

.logo {
    width: 20%;
    /* debugging */
    background-color: darkgrey;
    height: 50px;    
}